# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Windriver files
.cproject
.project
.wrmakefile
.wrproject

# Robot Object Files
PPC603gnu/